
<div class="{{team}}">
    <p class="header">{{team | titlecase}}: {{ matchData?.[team+'_score'] }}</p>
    <p *ngFor="let player of players; let last = last;"
        class="player" 
        [ngClass]="{
            'selected-player': player.hero_id === heroId,
            'same-match-player': player.personaname === 'BurlyCheddar' || player.personaname === 'Gabe-O-Saurus',
            'last': last
        }">
        <span class="hero-name">{{ player.hero_id | hero:heroes }}<span class="hero-level">{{player?.level}}</span></span>&nbsp;|&nbsp;<span class="kills-deaths-assists">{{player?.kills }}/{{ player?.deaths }}/{{ player?.assists }}</span></p>
</div>