@import '../../mixins/button.scss';

h1.player-name {
    text-align: center;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;
    

    .data-container {
        border: solid black 1px;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 30px;
        display: flex;
        min-height: 80vh;
        flex-direction: column;
        justify-content: space-around;

        .upper-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 40px;
        }

        h1 {
            border-bottom: solid black 2px;
            padding-bottom: 3px;
            padding: 0 5px;
        }

        h2 {
            font-size: 30px;
            text-align: center;
            margin: 0;
        }
    }

    .other-data-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        padding: 10px;
        max-width: 80vw;
        gap: 5vw;
        margin-bottom: 10px;

        .radiant-container {
            background-color: rgba(green, 0.125);
            border-radius: 10px;
            padding: 15px;
            width: 225px;
            height: 215px;

            .radiant {
            
            }
        }

        .dire-container {
            background-color: rgba(red, 0.125);
            border-radius: 10px;
            padding: 15px;
            width: 225px;
            height: 215px;

            .dire {
                
            }
        }


        p.header {
            font-size: 22px;
            margin-bottom: 10px;
        }
        p.other-player {
            font-size: 18px;

            &.selected-player {
                color: blue;
            }
            &.same-match-player {
                color: blue;
            }
        }
    }

    p {
        font-size: 25px;
        font-weight: 600;
        margin: 5px 0;

        &.won {
            color: green;
            font-weight: 700;
            font-size: 40px;
            // margin-top: 50px;
        }
        &.lost {
            color: red;
            font-weight: 700;
            font-size: 40px;
            // margin-top: 50px;
        }
        &.duration {
            font-size: 20px;
            margin: 5px 0;
        }
        &.match-start-time {
            font-size: 18px;
            margin: 5px 0;

            &.two {
                margin: 0;
            }
        }
    }
    a {
        text-decoration: none;
    }
    button {
        @include button;
        margin: 0 auto;
    }
}