<h1 class="player-name">{{ player | titlecase }}</h1>

<div *ngIf="isLoading === false && !httpErrorStatus" class="main-container">

    <div class="data-container">
        <div class="upper-container">
            <h2>{{ heroId | hero:heroes }}</h2>
            <p class="match-start-time one">{{ matchData?.start_time * 1000 | date: 'MMM d, y' }}</p>
            <p class="match-start-time two">{{ matchData?.start_time * 1000 | date: 'h:mm a' }}</p>
            <p class="duration">Duration: {{ matchData?.duration | duration }}</p>
            <p [ngClass]="{'won': isWin, 'lost': !isWin}">
                {{ isWin === true ? 'WON' : isWin === false ? 'LOST' : '' }}</p>
            <p>KDA ratio: {{ matchPlayerData?.kda }}</p>
        </div>
            
        <div *ngIf="isLoading === false" class="other-data-container">

            <div class="radiant-container">
                <app-team-details
                    [heroes]="heroes"
                    [matchData]="matchData" 
                    [heroId]="heroId"

                    [team]="'radiant'" 
                    [players]="radiantPlayers">
                </app-team-details>
            </div>
            
            <div class="dire-container">
                <app-team-details
                    [heroes]="heroes"
                    [matchData]="matchData" 
                    [heroId]="heroId"
                    
                    [team]="'dire'" 
                    [players]="direPlayers">
                </app-team-details>
            </div>
            
        </div>
        <a *ngIf="matchData?.replay_url" [href]="matchData.replay_url" target="_blank">
            <button>Download Replay</button>
        </a>
    </div>

    
    
    
</div>

<h3 *ngIf="isLoading === true">Loading match data...</h3>

<div *ngIf="isLoading === false && httpErrorStatus === 404" class="match-not-found-container">
    <h3>Match data could not be found!!</h3>
    <img src="assets/images/attention2weegee-min.jpg" alt="">
</div>

