
<button (click)="handleSameMatchesToggle()" class="toggle-btn" [class.on]="isSameMatchToggleOn">Toggle same matches</button>

<div class="main-container">


  <div class="match-section">
    <p class="player-header">Billiard</p>
    <div 
      *ngFor="let match of billiardMatchesToDisplay" 
      class="match-container {{ match.match_id }}" 
      [ngClass]="{'same-match': match.sameMatch}" 
      [id]="'billiard-match-' + match.match_id"
    >
      <p>{{ match.hero_id | hero:heroes }}</p>
      <p >{{ match.start_time * 1000 | date: 'MMM d, y - h:mm a' }}</p>

    </div>
  </div>
  
  <div class="match-section">
    <p class="player-header">Samsclub</p>
    <div 
      *ngFor="let match of samsclubMatchesToDisplay" 
      class="match-container {{ match.match_id }}"  
      [ngClass]="{'same-match': match.sameMatch}" 
      [id]="'samsclub-match-' + match.match_id"
    >
      <p>{{ match.hero_id | hero:heroes }}</p>
      <p >{{ match.start_time * 1000 | date:'MMM d, y - h:mm a'}}</p>

    </div>
  </div>
</div>




