
<button (click)="handleSameMatchesToggle()" class="toggle-btn" [class.on]="isSameMatchToggleOn">Toggle same matches</button>

<div class="main-container">

  <div class="match-section">
    <p class="player-header">Billiard</p>
    <app-match-containers [matches]="billiardMatchesToDisplay" [heroes]="heroes" [playerName]="'billiard'"></app-match-containers>
  </div>
  
  <div class="match-section">
    <p class="player-header">Samsclub</p>
    <app-match-containers [matches]="samsclubMatchesToDisplay" [heroes]="heroes" [playerName]="'samsclub'"></app-match-containers>
  </div>
</div>




