@import '../../mixins/button.scss';

.btn {
    @include button;

    &.same-match{
        &.on {
            background-color: green;
            color: white;
        }
    }
    &.ranked{
        &.on {
            background-color: goldenrod;
        }
    }

    &.back-to-top {
        position: sticky;
        left: 50vw;
        bottom: 10px;
        transform: translateX(-50%);
        opacity: 0.8;
    }
}

.btn-container {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
}


.main-container {
    display: flex;
    justify-content: space-around;

    
    .match-section {
        text-align: center;

        .player-header {
            font-size: 25px;
            font-weight: 700;
            text-decoration: underline;
            margin-bottom: 0;
        }
        .matches-count {
            font-size: 18px;
            font-weight: 500;
            margin-top: 5px;
            margin-bottom: 0;
        }
    }
}

