<div 
      *ngFor="let match of matches" 
      (click)="onMatchClick(match)"
      class="match-container {{ match.match_id }}" 
      [ngClass]="{'same-match': match.sameMatch, 'ranked': match.lobby_type === 7}" 
      [id]="playerName + '-match-' + match.match_id"
    >
      <p class="hero-id">{{ match.hero_id | hero:heroes }}</p>
      <p class="match-start-time">{{ match.start_time * 1000 | date: 'MMM d, y' }}</p>
      <p class="match-start-time">{{ match.start_time * 1000 | date: 'h:mm a' }}</p>

      @switch (match.match_id) {
        @case (games.carlos_mencia) { <p class="which-game">(Carlos Mencia Game)</p> }
        @case (games.how_I_came_up_with_it_mi_amigos) { <p class="which-game">And that's just how I came up with it mi amigos!</p> }
        @default {  }
      }

    </div>