
.match-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid black 1px;
    border-radius: 10px;
    width: 41vmin;
    height: 135px;
    margin: 20px;
    padding: 10px;
    box-sizing: border-box;

    p {
        margin: 0;

        &.hero-id {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 5px;
        }
        &.match-start-time {
        }
        &.which-game {
            // border-top-style: solid;
            // border-top-width: 1px;
            margin-top: 4px;
            font-size: 2vh;

            &.mi-amigos {
                // font-size: 1.7vh;

            }
        }
    }

    &.same-match {
        background: green;
        color: white;
    }
    &.ranked {
        border: solid goldenrod 2px;
    }

    p {

    }

    &:hover {
        cursor: pointer;
    }
}