<div 
      *ngFor="let match of matches" 
      (click)="onMatchClick(match)"
      class="match-container {{ match.match_id }}" 
      [ngClass]="{'same-match': match.sameMatch, 'ranked': match.lobby_type === 7}" 
      [id]="playerName + '-match-' + match.match_id"
    >
      <p class="hero-id">{{ match.hero_id | hero:heroes }}</p>
      <p class="match-start-time">{{ match.start_time * 1000 | date: 'E, MMM d, y' }}</p>
      <p class="match-start-time">{{ match.start_time * 1000 | date: 'h:mm a' }}</p>

      @if (match.match_id === 8175730351) { <p class="game-label">(Carlos Mencia Game)</p> }
      @if (match.match_id === 8175919261) { <p class="game-label">And that's just how I came up with it mi amigos! game</p> }
      @if (match.match_id === 8183431318) { <p class="game-label">We're all gofy gobers ROCK + the ytp game (no breathing/shadow shaman:YOU!/ brewmaster:OAH!)</p> }
      @if (match.match_id === 7987127087) { <p class="game-label">hahh. hahh hahh. Get the fuk away game.</p> }
      @if (match.match_id === 8191069818) { <p class="game-label">Vader/Jesus is a friend of mine game</p> }
      @if (match.match_id === 8339215221) { <p class="game-label">I got a bear you got my underwear game.</p> }
      @if (match.match_id === 8344519623) { <p class="game-label">The kisses of the Tans game.</p> }
      @if (match.match_id === 8369505430) { <p class="game-label">Release us to the utopians + lifestealer they'll hungry hunger further game.</p> }
      @if (match.match_id === 8390751642) { <p class="game-label">Donkey session/games.</p> }
      @if (match.match_id === 8390737448) { <p class="game-label">Donkey session/games.</p> }
      @if (match.match_id === 8390719956) { <p class="game-label">Donkey session/games.</p> }
      @if (match.match_id === 8414915046) { <p class="game-label">Cartman "in the metaaa", cuz I'm a nightstalker yes I am, in dire (we're on dire) need of reason game</p> }
      @if (match.match_id === 8604357443) { <p class="game-label">Yeah b*tch, school in summertime! game</p> }
      @if (match.match_id === 8611431235) { <p class="game-label">OPM S2 theme + Tails' (Gyro's) theme song game</p> }
      @if (match.match_id === 8615932777) { <p class="game-label">The iCarly game (Beating him Nevel + the theme song) + I am a scientist. </p> }
      @if (match.match_id === 8625901627) { <p class="game-label">The But Why's It So Cold? game.</p> }
      @if (match.match_id === 8631384041) { <p class="game-label">Sip Piña Coladas + It's where I find my Sven + shouldamapads game</p> }
      @if (match.match_id === 8631417616) { <p class="game-label">Don't make me give it to you, Spongebob! game</p> }










      

</div>