
.match-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid black 1px;
    border-radius: 10px;
    width: 41vmin;
    height: 135px;
    margin: 20px;
    padding: 10px;
    box-sizing: border-box;

    p {
        margin: 0;

        &.hero-id {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 5px;
        }
        &.match-start-time {
            font-size: 16px;
        }
    }

    &.same-match {
        background: green;
        color: white;
        border-color: white;
    }

    p {

    }

    &:hover {
        cursor: pointer;
    }
}