<div 
      *ngFor="let match of matches" 
      (click)="onMatchClick(match)"
      class="match-container {{ match.match_id }}" 
      [ngClass]="{'same-match': match.sameMatch, 'ranked': match.lobby_type === 7}" 
      [id]="playerName + '-match-' + match.match_id"
    >
      <p class="hero-id">{{ match.hero_id | hero:heroes }}</p>
      <p class="match-start-time">{{ match.start_time * 1000 | date: 'MMM d, y' }}</p>
      <p class="match-start-time">{{ match.start_time * 1000 | date: 'h:mm a' }}</p>

      @if (match.match_id === 8175730351) { <p class="game-label">(Carlos Mencia Game)</p> }
      @if (match.match_id === 8175919261) { <p class="game-label">And that's just how I came up with it mi amigos! game</p> }
      @if (match.match_id === 8183431318) { <p class="game-label">We're all gofy gobers ROCK + the ytp game (no breathing/shadow shaman:YOU!/ brewmaster:OAH!)</p> }
      @if (match.match_id === 7987127087) { <p class="game-label">hahh. hahh hahh. Get the fuk away game.</p> }
      @if (match.match_id === 8191069818) { <p class="game-label">Vader/Jesus is a friend of mine game</p> }
      @if (match.match_id === 8339215221) { <p class="game-label">I got a bear you got my underwear game.</p> }
      @if (match.match_id === 8344519623) { <p class="game-label">The kisses of the Tans game.</p> }
      @if (match.match_id === 8369505430) { <p class="game-label">Release us to the utopians + lifestealer they'll hungry hunger further game.</p> }
      @if (match.match_id === 8390737448) { <p class="game-label">Donkey session/games.</p> }
      @if (match.match_id === 8390719956) { <p class="game-label">Donkey session/games.</p> }





      

</div>